@charset "utf-8";
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	padding: 0;
	color: #000;
	background-image: url(../imagenes/FondoAzulDegradadoCentro.png);
	margin-top: 150px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 0;
}
form{
	margin:auto;
	width: 50%;
	max-width: 500px;
	background-color: rgba(51,51,204,0.1);
	padding: 35px;
	border-radius: 18px 18px;
	-moz-border-radius: 18px 18px;
	border-top-width: 1.5px;
	border-right-width: 1.5px;
	border-bottom-width: 1.5px;
	border-left-width: 1.5px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	box-shadow:1px 0px 3px black;
}
h2{
	text-align: center;
	margin-bottom: 20px;
	color: #06C;
	background-image: url(../imagenes/is.png);
	background-repeat: no-repeat;
	background-position: center center;
}
h1{
	font-size: 12px;
	color: #003;
}

input{
	display: block;
	padding: 10px;
	width: 80%;
	font-size: 20px;
	margin-top: 30px;
	margin-right: 0px;
	margin-bottom: 30px;
	margin-left: 40px;
}
input[type="submit"]{
	background-color: #06F;
	border: 0;
	opacity: 0.8;
	color: #FFF;
	cursor: pointer;
	border-radius: 18px 18px;
	-moz-border-radius: 18px 18px;
	width: 200px;
	margin-left: 300px;
	text-decoration: blink;
	font-style: normal;
	font-weight: bold;
}
input[type="submit"]:hover{
	opacity:1;
}
input[type="submit"]:active{
	transform:scale(0.95)
}
@media (max-width: 768px){
	form{
		  width : 75%;
		}
}
@media (max-width: 480px){
	form{
		  width : 95%;
		}
}
